:root {
  font-size: 12px; 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}

a { 
  text-decoration: underline;
}

a:hover, button:hover {
  opacity: 0.75;
  cursor: pointer;
}

a:active, button:active { 
  opacity: 0.65;
}

a:focus, button:focus, input:focus { 
  outline: 0.2rem solid orange;
}

a:disabled, button:disabled { 
  cursor: not-allowed;
}

button { 
  padding: 1rem; 
  text-transform: uppercase;
}

button:disabled:hover { 
  opacity: 1; /* Disable opacity change on hover when disabled. */
}

body { 
  background-color: #f0f0f0;
  min-width: 100dvw; /* Always fill viewport width. */
  min-height: 100dvh; /* Always fill viewport height. */
  touch-action: pan-x pan-y;
  padding: 4rem;
}

h1 { 
  font-family: "DM Serif Text";
  font-style: normal;
}

body > header {
  padding-block-start: 1rem;
  padding-block-end: 2.5rem;
}

body > header > h1, body > header > h2 { 
  text-align: center;
}

body > header > h1 { 
  font-size: 3rem;
}

body > header > h2 { 
  font-weight: 300;
  font-size: 1.4rem;
  margin-block: 1rem;
  padding-bottom: 0.2rem;
}

body > article { 
  margin-block: 2.5rem;
  width: 100%;
  border-bottom: 0.1rem solid #d0d0d0;
  padding-bottom: 2rem;
}

body > article > h1, body > article > p { 
  margin-inline: auto;
  max-width: 60rem;
  width: auto;
}

body > article > h1 { 
  font-size: 2rem;
  font-family: "DM Serif Text";
  color: #0d0d0d;
  font-weight: 300;
  background-color: #81eef8;
  padding-inline: 0.75rem;
}

body > article > p { 
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2.5rem;
  text-align: justify;
  margin-block: 2rem;
}

body > article > p:first-of-type { 
  margin-block-start: 1.5rem;
}

@media screen and (prefers-color-scheme: light) {

}

@media screen and (prefers-color-scheme: dark) {

}
